{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto px-0">
        <h2 class="mb-4">Frothers Squad Members</h2>
        <div class="bg-white shadow block">
          <div class="card-deck">
            {{ range where .Data.Pages "Type" "squad-members"}}
            <div class="card">
              <a href="{{.Permalink}}">
              <img class="card-img-top img-thumbnail img-responsive" src="{{ .Params.mug_shot | relURL }}" style="max-height: 180px;" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{.Params.title}} <span style="float:right;">{{.Params.kit_number}}</span></h5>
                <p class="card-text">{{.Params.position}} </p>
              </div>
            </a>
            </div>
            {{end}}
          </div>
         
        </div>
      </div>
    </div>
</section>
<!-- /blog -->

{{ end }}