{{ define "main" }}
{{ $script := .Site.Data.webpack.main }}
{{ with $script.js }}
<script src="{{ relURL . }}"></script>
{{ end }}
<section class="section">

  
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="col-md-8">

        <!-- Description Card -->
        <div class="card">
          <img class="card-img-top" src="{{ .Params.mug_shot | relURL }}" alt="{{.Params.name}}">
          <div class="card-body">
            <h5 class="card-title">{{.Params.title}} | {{.Params.kit_number}}</h5>
            <p class="card-text">{{.Params.blurb}}</p>
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Kit Number
                <span class="badge badge-primary badge-pill">{{.Params.kit_number}}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Year Joined
                <span class="badge badge-primary badge-pill">{{.Params.year_joined}}</span>
              </li>
            </ul>
          </div>
        </div>

        <!-- Carousel -->
        {{- partial "carousel.html" . -}}

        <!-- Stats -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Stats</h5>
            <h6 class="card-subtitle mb-2 text-muted">Frothers Career Stats</h6>
            <div id="individual-stats-panel" data-player-name="{{ .Params.Title }}">
              <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Total Goals
                  <span class="badge badge-primary badge-pill" id="total-goals">0</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Appearances
                  <span class="badge badge-primary badge-pill" id="appearances">To be added</span>
                </li>
              </ul>
            </div>
            <br>
            <a href="/stats/goalscrorers/" class="card-link">Team stats page</a>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>

  <!-- Stats -->
  <!-- <div id="player-stats">

    </div> -->



</section>
{{ end }}