{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      <div class="media col-12">
        {{ if .Params.Image }}
        <img src="{{ .Params.Image | relURL }}" class="img-thumbnail align-self-start mr-3"
          alt="{{ .Title | markdownify }}">
        {{ end }}

        <div class="media-body">
          <h2 class="mt-0">{{ .Title | markdownify }}</h2>
          <div class="mb-3 post-meta">
            <a
              href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize | lower }}">{{ .Params.Author | title | humanize }}</a>,
            {{ .PublishDate.Format "02/01/2006" }}, {{ range .Params.Categories }}
            <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}">{{ . | title | humanize }}</a>
            {{ end }}
          </div>
        </div>
      </div>
    </div>

    <!-- Scores -->
    {{ if .Params.match }}
    <div class="card">
      <div class="card-header text-center">
        <h5>Frothers {{ .Params.frother_goals }} : {{ .Params.opponent_goals }} {{ .Params.opponent }}</h5>
      </div>
      <ul class="list-group list-group-flush">
        {{ range .Params.scorers }}
        <li class="list-group-item">
          <div class="row">
            <div class="col text-right">
              {{ .scorer }}
              {{ range (seq .goals)}}
              <i class="ti-target"></i>
              {{ end }}
            </div>
        <div class="col-1"></div>
        <div class="col"></div>
        </div>
        </li>
        {{ end }}
      </ul>
    </div>
    <hr>
    {{ end }}

    <!-- Penalties   -->
    {{ if .Params.penalties }}
    <div class="card">
      <div class="card-body text-center">
        <h6 class="card-title">Penalties</h6>
        <div class="container">
          {{ range .Params.penalty }}
          <div class="row">
            <div class="col text-right">
              {{ .taker }}
            </div>
            <div class="col-1">
              {{ if .frother_goal }}
              <i class="ti-check"></i>
              {{ else }}
              <i class="ti-close"></i>
              {{ end }}
              :
              {{ if .opponent_goal }}
              <i class="ti-check"></i>
              {{ else }}
              <i class="ti-close"></i>
              {{ end }}
            </div>
            <div class="col"></div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}

    <div class="row">
      <div class="content col-12">
        {{ .Content }}
      </div>
    </div>
    {{ if .Site.DisqusShortname}}
    <div class="col-lg-8 mx-auto block shadow">
      <!-- comments -->
      {{ template "_internal/disqus.html" . }}
    </div>
    {{ end }}
  </div>
</section>
{{ end }}