{{ define "main" }}
{{ $script := .Site.Data.webpack.main }}
{{ with $script.js }}
<script src="{{ relURL . }}"></script>
{{ end }}

<div class="text-center">
  <h2>Frothers Statistics</h2>
</div>

<section id="tabs">
  <div class="container">
    <div class="row">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="yearSelect">Year</label>
        </div>
        <select class="custom-select" id="yearSelect">
          <option value="2020" selected>2020</option>
          <option value="2019">2019</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <nav>
          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-goals-tab" data-toggle="tab" href="#nav-goals" role="tab"
              aria-controls="nav-goals" aria-selected="true">Goals</a>
            <a class="nav-item nav-link" id="nav-points-tab" data-toggle="tab" href="#nav-points" role="tab"
              aria-controls="nav-points" aria-selected="false">Points</a>
            <a class="nav-item nav-link" id="nav-cleansheet-tab" data-toggle="tab" href="#nav-cleansheet" role="tab"
              aria-controls="nav-cleansheet" aria-selected="false">Clean Sheets</a>
          </div>
        </nav>
        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-goals" role="tabpanel" aria-labelledby="nav-goals-tab">
            <div class="text-center graph">
              <canvas id="stats-panel"></canvas>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-points" role="tabpanel" aria-labelledby="nav-points-tab">
            <div class="text-center graph">
              <canvas id="results-panel"></canvas>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-cleansheet" role="tabpanel" aria-labelledby="nav-cleansheet-tab">
            <div class="text-center graph">
              <canvas id="cleansheet-panel"></canvas>
            </div>
          </div>

        </div>
      </div>
    </div>
</section>

{{ end }}